/* CSS File */

/* Global*/

body {
  font-family: "Open Sans", sans-serif;
  color: #000;
}

a {
  color: cornsilk;
  text-decoration: none;
}

a:hover {
  color: gray;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

section {
  padding: 60px 0;
}

.bg-dark {
  background: #151515 !important;
}


.btn-check:focus {
  background-color: #fb9646 !important;
  outline: none !important;
  box-shadow: none !important;
}
.btn:focus {
  background-color: #fb9646 !important;
  outline: none !important;
  box-shadow: none !important;
}

/* Header */
#header {
  /*transition: all 0.5s;*/
  padding: 15px 0;
  background: rgba(193,190,139,255);
}

#header.header-scrolled, #header.header-inner-pages {
  background: rgba(193,190,139,255);
}
#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#header .logo a {
  color: #fff;
}
#header .logo a span {
  color: #d29c32;
}
#header .logo img {
  max-height: 40px;
}

                                                            /* HOME CSS*/
/* Hero Section */
#hero .carousel-item{
  width: 100vw;
  height: 100vh;
  background: #000;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;
}
#hero .carousel-item .overlay-image{
  position: absolute;
  background-position: center;
  background-size: cover;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
}

#hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .container {
  position: relative;
  padding-top: 200px;
  text-align: center;
}

#hero h2 {
  color: #000;
  font-size: 24px;
  background: #8cc86e;
}

#hero .regnow-btn h2{
  border-radius: 4px;
  padding: 8px 20px 8px 20px;
  border: 1px solid #000;
}

#hero .regnow-btn h2:hover{
  background: #fff;
  color: #000;
}

@media (min-width: 1024px) {

  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  .about .content {
    padding-right: 12px;
  }
  #hero h2 {
    font-size: 20px;
    line-height: 24px;
  }
}

/* About Section */
.about {
padding-top: 100px;
text-align: justify;
}
.about .content {
padding-right: 50px;
line-height: 32px;
}
.about .type {
padding-left: 50px;
}
.about h1 {
  color: #000;
  font-size: 45px;
  text-align: left !important;
  margin: 0;
  line-height: 50px;
}
.about h3 {
font-weight: 700;
font-size: 28px;
}
.about ul {
list-style: none;
padding: 0;
}
.about ul li {
padding: 0 0 8px 26px;
position: relative;
}

.about .icon-box {
padding-left: 15px;
}
.about .icon-box h4 {
font-size: 20px;
font-weight: 700;
margin: 5px 0 10px 60px;
}
.about .icon-box i {
font-size: 48px;
float: left;
color: #d29c32;
}
.about .icon-box p {
font-size: 15px;
color: #848484;
margin-left: 60px;
}
.about .image {
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
min-height: 400px;
}

/* Product Section */
.product {
background-color: #fb9646;
}
.product h1 {
  color: #000;
  font-size: 50px;
  margin: auto;
  line-height: 50px;
  text-align: center;
  margin-bottom: 20px;
}
.product .item {
text-align: center;
border: 1px solid #000;
border-radius: 10px;
padding: 20px;
padding-top: 15px;
padding-bottom: 20px;
transition: all ease-in-out 0.3s;
background: #fb9646
}
.product .item img {
border-radius: 10px;
}

.product .item h4 {
font-weight: 600;
margin-top: 15px;
margin-bottom: 15px;
font-size: 24px;
color: #000;
font-style: bold;
}

.product .item p {
line-height: 24px;
font-size: 14px;
margin-bottom: 0;
color: #000;
text-align: justify;
}

.product .item:hover {
border-color: #000;
box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
transform: translateY(-10px);
}

/* Social Media Section */
#social {
background-color: #fff;
}
#social h1 {
  color: #000;
  font-size: 50px;
  margin: auto;
  line-height: 50px;
  text-align: right;
}
#social .icon-box {
padding: 30px 20px;
transition: ease-in-out 0.3s;
border: 2px solid #3f3f3f;
height: 100%;
text-align: center;
}
#social .icon-box i {
font-size: 48px;
line-height: 1;
color: #d29c32;
}
#social .icon-box h3 {
font-weight: 700;
margin: 10px 0 0 0;
padding: 0;
line-height: 1;
font-size: 20px;
line-height: 26px;
}
#social .icon-box h3 a {
color: rgb(255, 255, 255);
transition: ease-in-out 0.3s;
}
#social .icon-box h3 a:hover {
color: #d29c32;
}
#social .icon-box:hover {
border-color: #d29c32;
}

/* Footer Section */
#footer {
  background: #c0be86;
  padding: 0 0 30px 0;
  color: #000;
  font-size: 14px;
  border-top: 1px solid black;
}
#footer .footer-top {
  background: #fff;
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #c0be86;
  color: #000;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #8cc86e;
  color: #000;
  text-decoration: none;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #000;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links a{
  color: #000;
  line-height: 30px;
}

#footer .footer-top .footer-links a:hover{
  color: #8cc86e;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  color: #000;
}
#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}
#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}
#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #000;
  color: #151515;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}
#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #000;
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}


                                                            /* ABOUT CSS*/

.aboutP h1 {
  color: #000;
  font-size: 45px;
  text-align: left;
  margin: 0;
  line-height: 50px;
}

.aboutP {
padding-top: 100px;
text-align: justify;
border-bottom: 1px solid #222222;
}

.aboutP #row1{
padding-top: 50px
}

/* About Section */
.visMis {
padding-top: 50px;
text-align: center;
}
.visMis .content {
padding-right: 50px;
line-height: 32px;
}

.visMis h2 {
color: #000;
font-weight: 900;
font-size: 45px;
}
.visMis h1 {
  color: #000;
  font-size: 30px;
  margin: auto;
  line-height: 50px;
  text-align: center;
}
.visMis ul {
list-style: none;
padding: 0;
}
.visMis ul li {
padding: 0 0 8px 26px;
position: relative;
}

.visMis .icon-box {
padding-left: 15px;
}
.visMis .icon-box h4 {
font-size: 20px;
font-weight: 700;
margin: 5px 0 10px 60px;
}
.visMis .icon-box i {
font-size: 48px;
float: left;
color: #d29c32;
}
.visMis .icon-box p {
font-size: 15px;
color: #848484;
margin-left: 60px;
}
.visMis .image {
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
min-height: 300px;
}

.visMis #pic{
max-width: 330px;
max-height: 295px;
margin: auto;
display: block;
}

.visMis #mt{
padding-top: 35px;
}

.visMis #mt p{
  font-style: italic;
}

/* social media contacts */

#contacts {
background-color: #ffde59;
border-top: 1px solid #222222;
}
#contacts h1 {
  color: #000;
  font-size: 50px;
  margin: auto;
  line-height: 50px;
  text-align: center;
  margin-bottom: 20px;
}
#contacts .icon-box {
padding: 30px 20px;
transition: ease-in-out 0.3s;
border: 1.5px solid #404040;
height: 100%;
text-align: center;
}
#contacts .icon-box i {
font-size: 48px;
line-height: 1;
color: #000000;
}
#contacts .icon-box h3 {
font-weight: 700;
margin: 10px 0 0 0;
padding: 0;
line-height: 1;
font-size: 20px;
line-height: 26px;
}
#contacts .icon-box h3 a {
color: rgb(255, 255, 255);
transition: ease-in-out 0.3s;
}
#contacts .icon-box h3 a:hover {
color: #0f7b32;
}
#contacts .icon-box:hover {
border-color: #0f7b32;
box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
transform: translateY(-10px);

}

#contacts .icon-box i:hover {
color: #0f7b32;
}

/* Organizational Chart Section */

ol {
  list-style: none;
  padding: 0px !important;
}

.org {
  margin: 50px 0 0;
  text-align: center;
  background-color: #fb9646;
}

.rectangle {
  position: relative;
  padding: 20px;
}

.org .section-title h1{
  color: #000;
  font-size: 50px;
  margin: auto;
  line-height: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.org .rectangle h4 {
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24px;
  color: #000;
}

.org .rectangle p {
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  color: #000;
  text-align: center;
}

.org img {
  max-height: 300px;
}

/* LEVEL-1 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-1 {
  max-width: 300px;
  margin: 0 auto 40px;
  background: white;
}

.level-1::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 1040px;
  background: black;
}


/* LEVEL-2 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-2-wrapper {
  position: relative;
  display: grid;
}

.level-2-wrapper li {
  position: relative;
}

.level-2-wrapper > li::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background: black;
}

.level-2 {
  max-width: 300px;
  margin: 0 auto 40px;
  background: white;
}

/* LEVEL-3 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-3-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.level-3-wrapper::before {
  content: "";
  position: absolute;
  top: -20px;
  left: calc(25% - 5px);
  width: calc(50% + 10px);
  height: 2px;
  background: black;
}

.level-3-wrapper > li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 2px;
  height: 20px;
  background: black;
}

.level-3 {
  max-width: 300px;
  margin: 0 auto 40px;
  background: white;
}

.org .level-1, .level-2, .level-3 {
  text-align: center;
  border: 1px solid #000;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  transition: all ease-in-out 0.3s;
  background: #fb9646
  }
  
.org .level-1:hover, .level-2:hover, .level-3:hover {
  border-color: #000;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}

/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 700px) {
  .rectangle {
    padding: 20px 10px;
  }

  .level-1,
  .level-2, .level-3 {
    max-width: 300px;
  }

  .level-1 {
    margin-bottom: 20px;
  }
  
  .level-2-wrapper > li::before {
    display: none;
  }
  
  .level-2-wrapper,
  .level-2-wrapper::after
  {
    display: block;
  }

  .level-2-wrapper::before {
    left: -20px;
    width: 2px;
    height: calc(100% + 40px);
  }

  .level-2-wrapper > li:not(:first-child) {
    margin-top: 50px;
  }
}

/* lecturers */


.lecturers .container {
  text-align: center;
  background: #fff;
}

.lecturers .header h1{
  padding-top: 30px;
  color: #000;
  font-size: 45px;
  margin: auto;
  line-height: 50px;
}

.sub-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lect {
  margin: 10px;
  width: 350px;
  height: 350px;
  padding: 5px 60px 5px 60px;
  /* max-width: 30%; */
  cursor: pointer;
  transition: 0.4s;
  /* box-sizing: border-box; */
  border-radius: 20px;
  border: 1px solid black;
}
#baris2 {
  width: 450px;
  height: 350px;
}

.lect:hover {
  background: #fb9646;
  transform: translateY(-10px);
}

.lect img {
  position: relative; 
  height: 150px; 
  width: 150px; 
  border-radius: 50%;
}

.name {
  font-weight: bolder;
  font-size: 18px;
}

.subj {
  font-style: italic;
  color: #888;
}

.desc {
  margin: 10px 0;
  font-weight: lighter;
  color: #4e4e4e;
}

.sosmed {
  margin: 14px;
}

.sosmed a {
  display: inline-block;
  height: 30px;
  width: 30px;
  transition: .4s;
}

.sosmed a:hover {
  transform: scale(1.5);
}

.sosmed a i {
  color: #000;
}

@media screen and (max-width: 991px) {
  .lect {
      max-width: 100%;
  }
}


/*testi*/

.testimonial1 .container {
  text-align: center;
  background: #fff;
}

.testimonial1 .header h1{
  padding-top: 30px;
  color: #000;
  font-size: 45px;
  margin: auto;
  line-height: 50px;
}

.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 30px 0;
}
.slide-content{
  margin: 0 70px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 20px;
  background-color: #fb9d50;
  border: 1px solid black;
  transition: 0.4s;
}

.card:hover{
  background-color: #fff;
  
}

.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.name{
  color: #000;
  font-weight: bolder;
  font-size: 18px;
}
.description{
  font-weight: lighter;
  color: #4e4e4e;
  text-align: center;
}

.swiper-navBtn{
  color: black !important;
  transition: color 0.3s ease;
}

.swiper-navBtn::before, .swiper-navBtn::after{
  font-size: 40px;
}

.swiper-button-next{
  right: 0;
}

.swiper-button-left{
  left: 0;
}

.swiper-navBtn:hover{
  color: #666666 !important;
}

.swiper-pagination-bullet{
  background-color: black !important;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .course h2{
    margin-top: 30px;
  }
}

/* course */

.course .container {
  text-align: center;
  background: #fff;
}

.course .header h1{
  padding-top: 30px;
  color: #000;
  font-size: 45px;
  margin: auto;
  line-height: 50px;
  margin-bottom: 30px;
}

.course .content{
  text-align: left;
  padding: 20px;
}
.course ul {
  list-style: none;
  padding: 0;
  font-size: 16px;
}
.course ul li {
padding: 0 0 8px 26px;
position: relative;
}

.course li::before{
  content: "\2B25";
  color: #fb9646;
  margin-right: 20px;
  
}

#gone::before{
  content: " ";
  color: white;
  margin-right: 20px;
  
}

.btnCr{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
.btnCr a{
  font-size: 20px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  position: absolute;
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
  color: #000;
  background: #8cc86e;
}

.btnCr a:hover{
  color: #000;
  background: #fff;
}

.course .type1, .type2{
  transition: .3s ease;
}


.course .type1:hover, .type2:hover{
  border: 1px double black;
  border-radius: 10px;
  box-shadow: 0px 0 25px 0 white;
  transform: translateY(-10px);
}